<div class="container mt-5">
  <h1>Listas de Música cristiana</h1>
  <app-loader *ngIf="loading"></app-loader>
  <div class="card-columns" *ngIf="!loading">
    <div (click)="verPlaylist(list.id)" class="card border-0 shadow animated fadeIn puntero"
      *ngFor="let list of playlists" style="border-radius: 10px;">
      <img [src]="list.images | noimage" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="margin-bottom: 0;">{{list.name}}</h5>
        <small class="text-muted">{{list.description}}</small><br>
        <span class="badge badge-success" style="margin-left: 0; margin-right: 2px;">{{list.tracks.total}}
          Canciones</span>
      </div>
    </div>
  </div>
</div>
