<app-navbar></app-navbar>

  <router-outlet></router-outlet>

  <footer class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-xs-12 about-company">
          <h2>Luis Alejandro Alas</h2>
          <a href="https://www.linkedin.com/in/luis-alejandro-alas-gonz%C3%A1lez-0b6131125/" target="_blank">
            <i class="fab fa-linkedin text-white"></i>
          </a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col copyright">
          <p class=""><small class="text-white-50">© {{year}}. All Rights Reserved.</small></p>
        </div>
      </div>
    </div>

  </footer>
