<app-loader *ngIf="loading"></app-loader>


<div class="jumbotron shadow" *ngIf="!loading">
  <div class="container">
    <div class="row" style="display: flex; flex-wrap: wrap;">
      <div style="margin-right: 2rem;">
        <img [src]="artista.images | noimage" alt="" class="shadow" style="width: 150px; border-radius: 10px;">
      </div>
      <div class="text-white">
        <h3 class="display-3"><b>{{artista.name}}</b></h3>
        <p>
          <a [href]="artista.external_urls.spotify" target="_blank" style="color: #57B25D"><i
              class="fab fa-spotify"></i></a>
        </p>
        <span *ngFor="let genero of artista.genres" class="badge"
          style="margin-left: 0; margin-right: 2px; background-color: #57B25D;">{{genero}} </span><br>
        <small class="text-muted">Seguidores: {{artista.followers.total | number}} | popularidad:
          {{artista.popularity}}</small><br>
      </div>
      <div class="text-right" style="flex-grow: 2;">
        <a routerLink="/search" style="color: #57B25D"><i class="fas fa-arrow-left"></i></a>
      </div>
    </div>
  </div>

</div>

<app-loader *ngIf="loadingTracks"></app-loader>
<div class="container animated fadeIn" *ngIf="topTracks" >
  <div class="row">
    <div class="table-responsive">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Foto</th>
            <th scope="col">Album</th>
            <th scope="col">Cancion</th>
            <th scope="col">Popularidad</th>
            <th scope="col">Vista previa</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let track of topTracks">
            <td>
              <img class="shadow" [src]="track.album.images | noimage" alt="..."
                style="height: 50px; border-radius: 10px;">
            </td>
            <td>
              {{track.album.name}}
            </td>
            <td>
              {{track.name}}
            </td>
            <td class="text-center"><p>{{track.popularity | number}}</p></td>
            <td>
              <!-- <audio [src]="track.preview_url" controls></audio> -->
              <iframe [src]="track.id | domseguro:'https://open.spotify.com/embed/track'" width="300" height="80"
                frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
